@mixin leftAndRightIcon() {
  margin: 10em 0 0 0;
  font-size: 3em;
  cursor: pointer;
}

.wrapper {
  margin: 0 auto;
  width: 1800px;

  .arrow-left {
    width: 2.8em;
    i {
      @include leftAndRightIcon();
    }
  }

  .current-pic-displayed {
    margin: 0 auto;
    img {
      width: 1700px;
    }

    .pic-click {
      cursor: pointer;
      position: absolute;
      background-color: transparent;
      height: 450px;
      &.bottom-half {
        margin-top: 450px;
      }
    }

    div {
      position: absolute;
      width: 91.5%;
      background-color: transparent;
      opacity: 0.5;
      h2, p {
        text-align: center;
        color: #333333;
      }
    }
  }

  .arrow-right {
    i {
      @include leftAndRightIcon();
    }
  }

}

