@mixin leftAndRightIcon() {
  padding: 10em 0 0 0;
  font-size: 3em;
  cursor: pointer;
}

.arrow-left {
  width: 3.8em;
  i {
    @include leftAndRightIcon();
  }
}

.current-pic-displayed {
  margin: 0 auto;
  img {
    width: 1800px;
  }
  div {
    position: absolute;
    width: 94.5%;
    background-color: #000066;
    opacity: 0.5;
    h2, p {
      text-align: center;
      color: #fff;
    }
  }
}

.arrow-right {
  i {
    @include leftAndRightIcon();
  }
}